@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inconsolata-regular";
  src: url("../../public/Inconsolata-Regular.ttf");
}
@font-face {
  font-family: "inconsolata-medium";
  src: url("../../public/Inconsolata-Medium.ttf");
}

@font-face {
  font-family: "inconsolata-semi";
  src: url("../../public/Inconsolata-SemiBold.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  letter-spacing: 0.03rem;
  overscroll-behavior: none;
}

p {
  margin: 0;
  padding: 0;
}

.infoWrapper {
  margin-right: 2px;
  height: 200px;
  width: 129px;
  gap: 5px;

  text-align: justify;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 3px;
  color: #363636;
}

.infoWrapper__title {
  font-family: "inconsolata-semi";
  font-size: 16px;
  pointer-events: none;
  caret-color: transparent;
  width: 100%;
}

.infoWrapper__body {
  pointer-events: none;
  caret-color: transparent;
}

.infoWrapper__contact {
  margin-top: auto;
  align-self: flex-end;
  text-align: end;
  color: #1a00ff;
  pointer-events: none;
  caret-color: transparent;
}

.returnBtn {
  color: #616161;
  font-size: 14px;

  pointer-events: none;
  caret-color: transparent;
  letter-spacing: 0.2rem;
}

.instructions {
  pointer-events: none;
  caret-color: transparent;
  letter-spacing: 0.08rem;
  color: #616161;
}

.infoPlate {
  height: 21px;
  width: 52px;
  padding-top: 2px;
  padding-left: 3px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoPlate__body {
  font-size: 0.15rem;
  line-height: 3px;
  padding-left: 0.5px;
}

.infoPlate__body p {
  font-size: 0.15rem;
}

.infoPlate__year {
  display: flex;
  gap: 1px;
  align-items: center;
}

.infoPlate__year__star {
  background-image: url("../../public/star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 4px;
  width: 4px;
}

.infoPlate__year__text {
  font-size: 0.16rem;
  line-height: 4px;
}

.infoPlate__title {
  font-size: 0.3rem;
  line-height: 5px;
  padding-bottom: 1px;
}

p {
  font-size: 6px;
}

h1 {
  padding: 0;
  margin: 0;
}
