@import "tailwindcss";

@font-face {
  font-family: 'handwriting';
  src: url('/handwriting.ttf'); 
 }

:root {
  --background: #F5F5DC;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  -webkit-transform: perspective(500px);
  -webkit-transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: max-content;
  font-family: sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 30px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.onTop {
   animation: moveToTop 0.3s forwards;
}
.notOnTop {
  z-index: 0
}


@keyframes moveToTop {
  0% {
    z-index: 0;
  }
  20% {
    z-index: 0;
  }
  100% {
    z-index: 2;
  }
}

